openai
langchain
langchain-experimental
langchain_openai
langchainhub
numexpr
bs4
faiss-cpu
Faker
streamlit
python-dotenv
PyPDF2
pandas
tiktoken
chromadb
fastapi
uvicorn
psycopg2-binary
langfuse
langgraph
